# Logs & OS
*.log
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example

# PHP / Composer
/vendor
/auth.json
/phpunit.xml
/phpunit.xml.dist
.phpunit.result.cache
/.phpunit.cache
.phpactor.json

# Node / Vite
/node_modules
/public/hot
/public/build

# Storage
/public/storage
/storage/*.key
/storage/pail
/storage/debugbar
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# IDE / Tools
/.idea
/.vscode
/.fleet
/.zed
Homestead.json
Homestead.yaml
